<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BoshengWu Blog Input</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<h2>BoshengWu Blog System Login Section</h2>
<h2>注册新用户</h2>
<!-- send to /add execute -->
<h4>
    <div class="login" id="signUp">
        用户名:<br>
        <input type="text" name="name" id="newUserName"><br>
        密码:<br>
        <input type="password" name="password" id="newPassword"><br>
        <button type="button" class="signupBtn">SignUp</button>
    </div>
</h4>
<h2>已有账号登录</h2>
<h4>
    <div class="login" id="login">
        用户名:<br>
        <input type="text" name="name" id="UserName"><br>
        密码:<br>
        <input type="password" name="password" id="Password"><br>
        <button type="button" class="loginBtn">LogIn</button>
    </div>
</h4>

<script>
    $(function() {

        // function ckUsername(username, password) {
        //     var userInfo = {
        //         name: username,
        //         password: password
        //     };
        //
        //     $.ajax({
        //         type: "POST",
        //         contentType: "application/json",
        //         url: "/user/add",
        //         data: JSON.stringify(userInfo),
        //
        //         success: function(mesgback) {
        //             alert(mesgback);
        //         },
        //         error: function() {
        //             alert("Process Error, fail in sending to server")
        //         }
        //     })
        // }

        /* Sign up new account operation
        * */

        $(document).on('click', '.signupBtn', function() {
            var _name = $('#newUserName').val();
            var _password = $('#newPassword').val();
            // check name / password are valid
            if(_password=="" | _name=="") {
                alert("Username or Password should not be empty");

            } else {
                // if name / password are valid -> then check if username exist
                var userInfo = {
                    name: _name,
                    password: _password
                };

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/user/add",
                    data: JSON.stringify(userInfo),

                    success: function(mesgback1) {
                        alert(mesgback1);
                        window.location.reload();
                    },
                    error: function() {
                        alert("Process Error, fail in sending to server")
                    }
                });
                // ckUsername(_name,_password);

            }
        });

        /*Log in your existed account
        * */

        $(document).on('click', '.loginBtn', function() {
            var _name = $('#UserName').val();
            var _password = $('#Password').val();

            // check name / password are valid
            if(_password=="" | _name=="") {
                alert("Please input your password or username")
            } else {
                var userInfo = {
                    name: _name,
                    password: _password
                };

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "user/login",
                    data: JSON.stringify(userInfo),

                    success: function(mesgback2) {
                        alert(mesgback2);
                        if(mesgback2=="Success") {
                            location.href="tag";
                        } else {
                            window.location.reload();
                        }
                    },
                    error: function() {
                        alert("Process Error, fail in sending to server")
                    }
                })
            }
        })

    })

</script>
</body>

</html>